img {
	opacity: 0.4;
}
.product-image:hover{
	opacity: 1.0
}
.item{
	height: 150px;
	width: 100px;
	margin: 5px;
}
.item.w2{
	width: 600px;
}
.description{
	text-align: center;
}
.pay-button{
	text-align: center;
}
