<html>
<head>
    <title>Cart</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/flat-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/styles.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.total_price }}</td>
        </tr>
        {% endfor %}
       
    </table>
     <div id="pay_button">
     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pta8G0YCcDW4YKCM3aNMpqaL" data-amount="{{total}}" data-name="5C Delivery" data-description="Your Order" >
    </script>
    </div>
</body>
</html>
  