<html>
<head>
    <title>Cart</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/flat-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/styles.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<div class="container">
     <table class="table table-striped table-hover cart">
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th></th>
    </thead>
    <tbody>

      {% for item in cart %}
        <tr>
            <td><strong>{{ item.product.name }}</strong></td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.total_price }}</td>
            <td>
                <div> 
                    <form>
                        <span class="glyphicon glyphicon-remove" style="color:#2980B9;"></span> 
                    </form>  
                    
                </div>

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<h5>Total Price: ${{total}}</h5>



     <!-- <div id="pay_button">
     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pta8G0YCcDW4YKCM3aNMpqaL" data-amount="{{total}}" data-name="5C Delivery" data-description="Your Order" >
    </script>
    </div> -->
    <div style="text-align:center;">
            <button class="btn btn-primary btn-lg btn-wide" id="checkout" >Checkout</button>
        </div>

    <script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_pta8G0YCcDW4YKCM3aNMpqaL',
    image: '/square-image.png',
    token: function(token, args) {
      // Use the token to create the charge with a server-side script.
    }
  });

  document.getElementById('checkout').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: '5C Delivery',
      description: '{{orders}} Products (${{total}})',
      amount: {{stripe_total}}
    });
    e.preventDefault();
  });
</script>
</div>
<!-- <table class="flat-table flat-table-3"> -->
   
    
</body>
</html>
  