<html>
<head>
	<title>Checkout</title>
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/flat-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/styles.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>

	<input type="text" placeholder="First Name" class="form-control">
	<input type="text" placeholder="Last Name" class="form-control">
	<input type="text" placeholder="Year" class="form-control">
	<input type="text" placeholder="School" class="form-control">
	<div class="card-wrapper"></div>
	<input name="number" type="text">
	<input name="expiry" type="text">
	<input name="cvc" type="text">

</body>
</html>