<html>
<head>
	<title>Products</title>
	{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'products/styles.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://isotope.metafizzy.co/beta/isotope.pkgd.min.js"></script>

</head>
	<body>
		<div id="filters" class="button-group">
		  <button data-filter="*">show all</button>
		  <button data-filter=".Drinks">Drinks</button>
		  <button data-filter=".Vegetables">Vegetables</button>
		  <button data-filter=".Healthy-Food">Healthy Food</button>

		</div>
	<div id="container">
		{% for items in products%}
		
		<div class="item {{items.type}}">
			<img src="{% static 'products/images/gatorade.png' %}">
			{{items.name}} - ${{items.price}}</div>
		{% endfor %}


	</div>
	
	<script type="text/javascript">var $container = $('#container');
// init
$container.isotope({
  // options
  itemSelector: '.item',
  layoutMode: 'fitRows'
});

$('#filters').on( 'click', 'button', function( event ) {
  var filtr = $(this).attr('data-filter');
  $container.isotope({ filter: filtr });
});

</script>



	</body>
</html>


