
<html>
<head>
	<title>Products</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'products/css/bootstrap.min.css' %}">
</head>
	<body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Welcome to Aloke's HW5. Click some of the links below to get started</p>
        <p><a class="btn btn-primary btn-lg" href="/products/price" role="button">Get Started</a></p>
      </div>
      <p> Search for the <a href="/products/price">closest price</a></p>
      <p> Search for <a href="/products/minspecs">minimum specifications for a laptop</a></p>
      <p> Search for a <a href="/products/maker">maker</a></p>
      <p> Search for a <a href="/products/budget">cheap PC/Printer combo</a></p>
      <p> Add a <a href="/products/add">new PC</a></p>
    </div>
	</body>
</html>


