<html>
<head>
	<title>Price</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'products/css/bootstrap.min.css' %}">
</head>
<body>
	<br>
	<div class="container">
		<h2>Closest Price</h2>
		<form method="get" role="form" class="form-inline">
			<input name="price" class="form-control" placeholder="price">
			<input type="submit" class="form-control" value="submit">
		</form>
		{% if closest %}
		<h2>Closest PC:</h2>
		<p> Model Number: {{closest.model.model}}</p>
		<p>Maker: {{closest.model.maker}}</p>
		<p>Price: ${{closest.price}}</p>
		<p>Speed: {{closest.speed}} GHz</p>
		{% endif %}
	</div>
</body>
</html>